.solved {
    position: relative;
    display: block;
}
.solved::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    background-color: black;
    height: 1px;
}
button {
    z-index: 1;
    position: relative;
}
button:first-child {
    margin-left: 40px;
}